<main>
    {{!-- <p class="quote">{{content}}</p> --}}
    <div class="image-container">
        <img class = "fit" src={{picture}} alt={{name}}>
        {{!-- <a href="https://ko-fi.com/cyborgpigeon">
            <img class = "kofi" src="static\images\kofi_icon.png" height="80px" width="80px">
        </a> --}}
        {{!-- <img class = "github" src="static\images\github_icon.png" height="60px" width="60px"> --}}
        <div class="quote">
            <p>{{content}}</p>
            <p>- {{name}}</p>
        </div>
    </div>
</main>